# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
odoo-venv/
venv/

# Odoo runtime
filestore/
*.log
data/

# Odoo config
odoo.conf

# Enterprise (optional)
enterprise-19.0/

# Archives
*.zip

# Node / JS
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
